* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: $baseFontSize;

  @include tablets {
    font-size: $baseFontSize - 1px;
  }

  @include phones {
    font-size: $baseFontSize - 2px;
  }
}

html,
body {
  height: 100%;
}

body {
  font-family: 'play', Arial, sans-serif;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 700;
}

h2 {
  text-transform: uppercase;
  font-size: rem(48px);

  @include phones {
    font-size: rem(32px);
  }
}

h3 {
  font-size: rem(36px);
}

h4 {
  font-size: rem(24px);
}

h5 {
  font-size: rem(18px);
}

p {
  font-size: rem(16px);
  font-weight: 400;
  color: $body;
}

section {
  position: relative;
  height: 100vh;
  color: $black;
}

address {
  font-style: normal;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
  max-width: 100%;
  color: $black;
}

p {
  padding: 0;
  margin: 0;
}

footer {
  position: relative;
}

.wrapper {
  position: relative;
  width: 100%;
}

.container {
  width: 95%;
  max-width: $containerWidth;
  height: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}