//main variables
$containerWidth: 940px;
$baseFontSize: 18px;

//breakpoints
$tablets: 768px;
$phones: 480px;

//colors
$red: #E01F3D;
$body: #666666;
$black: #292929;
$white: #FFFFFF;

//z-indexes
$zIndexFixedMenu: 10;

//IMPORTS:
//fonts
@import "./components/fonts.scss";

//layout
@import "./media.scss";
@import "./layout.scss";
@import "./normalize.scss";


//components
@import "./components/header.scss";
@import "./components/hamburger.scss";
@import "./components/hero.scss";
@import "./components/btn.scss";
@import "./components/advantages.scss";
@import "./components/features.scss";
@import "./components/reviews.scss";
@import "./components/review.scss";
@import "./components/reviews-switcher.scss";
@import "./components/form.scss";
@import "./components/fixed-menu.scss";