.fixed-menu {
  position: fixed;  
  top: 15%;
  right: 3%;
  z-index: $zIndexFixedMenu;

  @include tablets {
    display: none;
  }
}

.fixed-menu__list {
  display: flex;
  flex-direction: column;
  row-gap: rem(13px);
}

.fixed-menu__link {
  width: rem(9px);
  height: rem(9px);
  border-radius: 50%;
  background: $black;
  transition: .4s;

  &:hover {
    background: $red;
  }

  &--white {
    background: $white;
  }

  &--active {
    background: $red;
    position: relative;
    
    &::before {
      content: '';
      position: absolute;
      width: rem(19px);
      height: rem(19px);
      border: rem(2px) solid $red;
      border-radius: 50%;
      right:rem(-7px);
      top: rem(-7px);
    }
  }

  &--bg--red {
    background: $black;

    &:hover {
      background: $white;
    }
    
    &--active {
      background: $white;
      position: relative;
      
      &::before {
        content: '';
        position: absolute;
        width: rem(19px);
        height: rem(19px);
        border: rem(2px) solid $white;
        border-radius: 50%;
        right:rem(-7px);
        top: rem(-7px);
      }
    }
  }
  
}

.up-button {
  position: fixed;
  display: flex;
  right: 1vw;
  bottom: 1vw;
  display: flex;
  background: rgba(255, 255, 255, 0.493);
  box-shadow: 0px 0px 8px $white;
  border-radius: 5px;
  padding: .1rem .4rem 0;

  &__link {
    display: flex;
    align-items: baseline;
    column-gap: .5vw;
    

    p {
      font-size: 1rem;
      color: $black;
      transition: .2s;
    }

    &-icon {
      display: flex;
      border-left: .4rem solid transparent;
      border-right: .4rem solid transparent;
      border-top: 0 solid transparent;
      border-bottom: .8rem solid $black;
      transition: .2s;
    }

    &:hover {
      p {
        color: $red;
      }

      .up-button__link-icon {
        border-bottom: .8rem solid $red;
      }
    }
  }

  
  
  
}