.footer {

  .address__text {
    font-size: rem(18px);
    letter-spacing: rem(1px);
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: rem(20px) 0;

    @include phones {
      flex-direction: column;
      row-gap: rem(12px);
    }
  }

  @include phones {
  }
}

.footer__address {
  display: flex;
  flex-direction: column;

  @include phones {
    align-items: center;
    row-gap: rem(10px);
  }
}