.menu {
  display: flex;

  &--header {
    min-width: 89%;
  
    @include tablets {
      display: none;
    }
  }

  &--modal {
    flex-direction: column;
    margin-top: 17vh;
  }
}

.menu__list {
  display: flex;

  &--header {
    justify-content: center;
    width: 100%;
    font-weight: 400;
    margin-top: rem(5px);
    flex-wrap: wrap;
    column-gap: rem(15px);
  }

  &--modal {
    flex-direction: column;
    align-items: center;
    row-gap: 2.8vh;
  }
}

.menu__link {
  white-space: nowrap;
  transition: .2s;

  &:hover {
    color: $red;
  }

  &--modal {
    color: #FFFFFF;
    font-size: rem(36px);
  }
}