.advantages__list {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.advantage {
  display: flex;
  justify-content: space-between;
  column-gap: 11px;
}

.advantage__icon {
  img {
    max-width: 41px;
    max-height: 41px;
  }
}

.advantage__desc {
  max-width: 114px;
  font-size: 16px;
  line-height: 1.1em;
}