.fixed-menu {
  position: fixed;  
  top: 30%;
  right: 3%;
  z-index: $zIndexFixedMenu;

  @include tablets {
    display: none;
  }
}

.fixed-menu__list {
  display: flex;
  flex-direction: column;
  row-gap: rem(13px);
}

.fixed-menu__link {
  width: rem(9px);
  height: rem(9px);
  border-radius: 50%;
  background: $black;

  &:hover {
    background: $red;
  }

  &--active {
    background: $red;
    position: relative;
    
    &::before {
      content: '';
      position: absolute;
      width: rem(19px);
      height: rem(19px);
      border: rem(2px) solid $red;
      border-radius: 50%;
      right:rem(-7px);
      top: rem(-7px);
    }
  }
}