.modal {
  position: absolute;
  display: flex;
  width: 100%;
  height: 0vh;
  background: #333537;
  opacity: 0;

  &--main {
    top: rem(-2000px);
    left: 0;
    z-index: $zIndexModalWindow;
    transition: height .2s;

    &--active {
      height: 100vh;
      opacity: 1;
      top: rem(0px);
    }
  }

  &--form {
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    background: #333537b2;

    &--active {
      opacity: 1;
      height: 100vh;
      width: 100vw;
    }
  }  
}

.modal--form__content {
  background: #FFFFFF;
  display: flex;
  width: auto;
  height: auto;
  padding: rem(35px) rem(55px);
  border-radius: 5px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1vh;
  text-align: center;

  @include phones {
    padding: rem(25px) rem(25px);
  }
}

.modal--form__text {
  color: #000000;
  font-size: rem(18px);
}

.modal--form__text--error {
  color: $red;
}