.reviews-switcher__list {
  display: flex;
  column-gap: 6px;
}

.reviews-switcher__item {
  border-radius: 50%;
  width: 74px;
  height: 74px;
  position: relative;

  &--active {
    border: 4px solid $red;
  }
}

.reviews-switcher__link {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.reviews-switcher__author {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}