.team {

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10vh;
  }

  h5 {
    @include tablets {
      font-size: rem(22px);
    }
  }
}

.team__header {
  margin-top: 15vh;
}

.team__list {
  display: flex;
  column-gap: 3%;
  width: 100%;

  @include tablets {
    flex-direction: column;
    align-items: center;
  }
}

.team__employee {
  display: flex;
  flex: 1;
  width: 20%;
  flex-direction: column;
  align-items: center;
  row-gap: 2vh;
  font-size: rem(16px);
  color: #000000;

  @include tablets {
    width: 40%;
  }
}

.employee__photo {
  width: 100%;

  @include tablets {
    display: none;
  }
}

.employee__tab-photo {
  display: none;

  @include tablets {
    display: flex;
  }
}

.employee__content-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: .5vh;
  text-align: center;
  
  @include tablets {
    flex-shrink: 1;
    height: 2rem;

    &--active {
      height: auto;
    }
  }  
}

.employee__control {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: baseline;
  column-gap: .5vw;
  
  &:hover {
    color: $red;
  }
}

.employee__name {
  white-space: nowrap;
}

.employee__status {
  width: rem(9px);
  height: rem(9px);
  border-bottom: 9px solid $red;
  border-top: 0px solid transparent;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;

  &--rotated {
    transform: rotate(180deg);
  }
}

.employee__content {
  display: flex;
  flex-direction: column;
  row-gap: 1vh;
  height: 0%;
  overflow: hidden;
  opacity: 0;
  transition: .3s;

  .employee__description {
    color: $body;
  }

  &--active {
    display: flex;
    height: 100%;
    opacity: 1;
  }

  @include tablets {
    // display: none;

    &--active {
      display: flex;
      height: 100%;
      opacity: 1;
    }
  }
}